<!DOCTYPE html>



<html ng-app="phonecatApp">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Proust Questionnaire</title>
	<link rel="stylesheet" type="text/css" href="./style.css">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<link rel="stylesheet" href="./css/bootstrap.css" >
<script src="./js/angular.min.js" type="text/javascript"></script>
<script src="./js/bootstrap.min.js" type="text/javascript"></script>
<script src="./app.js" type="text/javascript" ></script>


</head>
<body class="bg-black" ng-controller="selection" >
<div class="container ">
  <div class="row">
  <div class="row text-center lg-text title-q" >
    Proust Questionnaire
    </div>
    <div class=" row chat-box" id="chatbox">
            <div class=" col-md-12 {{que.po}}-text" ng-repeat="que in ques">
            {{que.q}}</div>
   </div> 
   
   <div class="row">
  
  <div class="input-group">
      <input  class="input-answer" placeholder="" ng-model="type" type="answer"  ng-keyup="myKeyup($event)" >
      <span class="input-group-btn">
        <button class="answer-btn" type="button" ng-click="makeanswer()">Go!</button>
      </span>
  </div>
    
</div>
   <span class="row" style="font-size: 18px" ng-bind="message"></span>
    
  </div>
</div>


</body>

</html>